<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./../css/output.css">
</head>

<body class="">

    <div class="bg-sky-600">
        <nav class="border-b border-gray-200 top-0 start-0">
            <div class="flex flex-wrap items-center justify-between p-4">
                <a href="/" class="flex flex-col rtl:space-x-reverse lg:mx-0">
                    <span class="text-xl lg:text-3xl font-bold text-white">Employee Management System</span>
                    <span id="username" class="text-sm lg:text-lg font-bold text-white"> Username: 
                        <% if (locals.first_name && locals.last_name) { %>
                            <%= locals.first_name %> <%= locals.last_name %>
                        <% } %>
                    </span>
                </a>

            </div>
        </nav>

        <!-- Mobile Menu -->
        <div id="mobileMenu" class="hidden md:hidden fixed w-full bg-sky-600 border-gray-200 p-4">
            <button id="addTask" data-modal-target="crud-modal" data-modal-toggle="crud-modal"
                class="w-[35%] mx-3 md:w-auto mb-2 md:mb-0 text-white bg-slate-800 hover:bg-slate-600 focus:ring-4 font-medium rounded-xl text-sm px-5 py-2.5 text-center md:mr-4"
                type="button">
                Login
            </button>
        </div>

    </div>

    <div class="w-full h-screen bg-gray-300 flex justify-center items-center">

        <div class="flex justify-center flex-col gap-2 items-center">
            <div class="text-center">
                <% if (locals.IsAdmin) { %>
                <a href="/admin/leave">
                    <% } else { %>
                    <a href="/user/leave">
                        <% } %>
                        <button type="button"
                            class="bg-blue-500 px-6 py-3 text-white lg:text-2xl lg:px-10 lg:py-4 md:text-lg md:px-6 md:py-3 sm:text-sm sm:px-4 sm:py-2 rounded-lg shadow-lg hover:bg-blue-600 transition duration-300 font-extrabold">
                            Go to Leave Section
                        </button>
                    </a>
            </div>
            <div class="mt-5 text-center">
                <% if (locals.IsAdmin) { %>
                <a href="/admin/task">
                    <% } else { %>
                    <a href="/user/task">
                        <% } %>
                        <button type="button"
                            class="bg-green-500 text-white px-6 py-3 lg:text-2xl lg:px-10 lg:py-4 md:text-lg md:px-6 md:py-3 sm:text-sm sm:px-4 sm:py-2 rounded-lg shadow-lg hover:bg-green-600 transition duration-300 font-extrabold">
                            Go to Task Section
                        </button>
                    </a>
            </div>
        </div>

    </div>
</body>

</html>
